In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

# функция Precision@n из предыдущего урока, вынесенная в отдельный модуль
import sys
sys.path.append('../src')
sys.path.append('../raw_data')
from metrics import precision_at_k as pak # первый арг. - рекомендация, второй - факт

In [5]:
data = pd.read_csv('../raw_data/retail_train.csv')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [10]:
#data['stolb'] = 
data.loc[(data['user_id'] == 2375) & (data['basket_id'] == 26984851472)]['item_id'].max()

8160430

In [71]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

### Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. Вес = log(sales_sum товара)

In [72]:
summa = np.log(data_train.groupby(['item_id'])['user_id'].count()).sum()

In [73]:
weights = np.log(data_train.groupby(['item_id'])['user_id'].count())/summa

# убедимся, что посчитали правильно вероятности

weights.sum().round(5) == 1

True

In [74]:
items_weights = pd.DataFrame({'weight' : weights.array}, index=weights.index )

In [75]:
def weighted_random_recommendation(items_weights, n=5):
    """Случайные рекоммендации
    
    Input
    -----
    items_weights: pd.DataFrame
        Датафрейм со столбцами item_id, weight. Сумма weight по всем товарам = 1
    """
    
    # Подсказка: необходимо модифицировать функцию random_recommendation()
    recs = np.random.choice(items_weights.index, size=n, replace=False, p=items_weights['weight'])
    
    return recs.tolist()

In [76]:
%%time
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']

items = data_train.item_id.unique()

result['weighted_random_recommendation'] = result['user_id'].apply(lambda x: weighted_random_recommendation(items_weights, n=5))
result.head(2)

Wall time: 2.55 s

,user_id,actual,weighted_random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[902417, 831407, 873130, 1083078, 1021416]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[848907, 1080723, 1013210, 13986420, 1094686]"

### Задание 2. Расчет метрик
Рассчитайте Precision@5 для каждого алгоритма с помощью функции из вебинара 1. Какой алгоритм показывает лучшее качество?

In [2]:
predict = pd.read_csv('predictions/predictions_basic.csv')
predict.head(2)

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases
0,1,[ 821867 834484 856942 865456 889248 ...,"[5586238, 1015228, 866118, 2416733, 2603573]","[6534178, 6533889, 1029743, 6534166, 1082185]","[981760, 1127831, 1098066, 826249, 878996]","[981760, 1127831, 1098066, 878996, 826249]","[981760, 1127831, 1098066, 826249, 878996]","[999999, 1082185, 1029743, 995785, 1004906]"
1,3,[ 835476 851057 872021 878302 879948 ...,"[161354, 63027, 1027802, 12263694, 307395]","[6534178, 6533889, 1029743, 6534166, 1082185]","[981760, 995242, 1029743, 840361, 961554]","[981760, 1004906, 961554, 1096036, 1080414]","[981760, 1004906, 859075, 1096036, 961554]","[999999, 1082185, 1098066, 6534178, 1127831]"

При импорте csv-файла списки внутри каждой рекомендации имели формат string. Преобразуем их

In [3]:
import re

for col in predict.columns[1:]:
    predict[col] = [np.array(re.findall('\d+', x), dtype=np.uintc) for x in predict[col]]

In [4]:
predict.head(2)

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[5586238, 1015228, 866118, 2416733, 2603573]","[6534178, 6533889, 1029743, 6534166, 1082185]","[981760, 1127831, 1098066, 826249, 878996]","[981760, 1127831, 1098066, 878996, 826249]","[981760, 1127831, 1098066, 826249, 878996]","[999999, 1082185, 1029743, 995785, 1004906]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[161354, 63027, 1027802, 12263694, 307395]","[6534178, 6533889, 1029743, 6534166, 1082185]","[981760, 995242, 1029743, 840361, 961554]","[981760, 1004906, 961554, 1096036, 1080414]","[981760, 1004906, 859075, 1096036, 961554]","[999999, 1082185, 1098066, 6534178, 1127831]"

In [17]:
fact = predict['actual']
for col in predict.columns[2:]:
    list_ = []
    for rec, act in zip(predict[col],fact):
        list_.append(pak(rec, act, k=5))
    prec=pd.Series(list_).mean()
    print(f'Для модели {col} средний precision_at_k равен {prec}')

Для модели random_recommendation средний precision_at_k равен 0.0005876591576885408
Для модели popular_recommendation средний precision_at_k равен 0.15523996082272282
Для модели itemitem средний precision_at_k равен 0.03359451518119491
Для модели cosine средний precision_at_k равен 0.03525954946131244
Для модели tfidf средний precision_at_k равен 0.036141038197845254
Для модели own_purchases средний precision_at_k равен 0.17998694090760692